$primary: #191746;
$white: #f7f6fb;
$black: #000;
$waterWhite: #ffffff33;
$purple: #8c35ff;
$whitePurple: #efecf6;
$halfWhite: #ffffff50;
$lightPurple: #786c88;
$green: #67c95f;
$pink: #fb8f8e;
$darkPurple: #4c2185;
$darkBlue: #381a5f;
$purpleNav: #6839a7;
$yellow: #ffbf15;
$gray: #eaeaea;

$shadowUp: 0 4px 30px rgba(0, 0, 0, 0.1);
