@import "@/app/variables.scss";

.wrapper {
  position: relative;
  height: 800px;
  width: 700px;
  background-image: url("/assets/jpg/analyticsBg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
